*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.welcome{
    text-align: center; 
    font-size: 2rem;
    color: #333;
    margin: 20px 0;
}

.button-container{
    display: flex;
    justify-content: center; /* Horizontally centered*/
    align-items: center;    /* Vertically centered*/
    height: 100vh
}

.btn{
    border-radius: 12px;
    padding: 14px 40px;
    text-align: center;
    background-color: rgb(224, 98, 44);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition-duration: 0.4s;
}

.btn:hover{
    background-color: white;
    color: rgb(224, 98, 44);
}